<html>
  <head>
    <style>
      .text { color: red }
    </style>
  </head>
  <body>
    <div class="text">Continue signing up for Chatssy by click the link below:</div>
    <a href={{url}}>{{url}}</a>
  </body>
</html>